<div class="jumbotron">
	<h1>The Good Folks</h1>
	<h3>Good things, coming soon.</h3>

	<br />

	<!-- Begin LaunchRock Widget -->
	<div id="lr-widget" rel="F5DC4NGD"></div>
	<script type="text/javascript" src="//ignition.launchrock.com/ignition-current.min.js"></script>
	<!-- End LaunchRock Widget -->

</div>

<!-- <section>
	<h2>About The Good Folks</h2>
	<div class="row"<img src="#">
</section>

<hr>

<section>
	<h2>Contact Us</h2>
</section> -->